<!DOCTYPE html>
<html th:attr="lang=${#locale.language}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Producto(Admin)</title>
    <link rel="stylesheet" href="css/almacen.css">
    <link rel="stylesheet" href="css/almacen-admin.css">
    <link rel="stylesheet" href="css/productos-admin.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <script src="js/error-mensaje.js"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

        <div class="cards-container">
            <div class="card">
                <a href="/productos-adminAnadir" class="card-button" th:text="#{admin.anadirProducto}">Anadir Producto</a>
            </div>
            <div class="card">
                <a href="/productos-adminModificar" class="card-button" th:text="#{admin.modificarProducto}">Modificar Producto</a>
            </div>
            <div class="card">
                <a href="/productos-adminEliminar" class="card-button" th:text="#{admin.eliminarProducto}">Eliminar Producto</a>
            </div>
        </div>

        <div id="error" th:text="${error}" style="display: none;"></div>
        <div id="mensaje" th:text="${success}" style="display: none;"></div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>